head {
	text-align: center;
}
table {
	border-width: 2px;
	border-style: solid;
	border-color: cyan;
}
td {
	text-align: center;
	border-width: 2px;
	border-style: solid;
	border-color: cyan;
}

th {
	border-width: 2px;
	border-style: solid;
	border-color: cyan;
	background-color: blue;
	color: white;
}
.table-classy {
	font-family: "Arial";	
}
.table-diff {
	background-color: white;
	color: black;
}
.td-just {
	text-align: justify;
}
.centered{
	text-align: center;
	letter-spacing: 2px;
}
